@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-10rem);
        color:coral;
    }
    to{
        opacity: 1;
        transform: translateX(0);
        color: #333;
    }
}