/*Styles for blog page*/


body.blog {
    .site-content h1 {
        text-align: center;
    }

    .posts {
        border-radius: 0.5rem;
        border: 1px solid #ddd;
        padding: $main-top-wsp*2;
        height: 100vh;
        overflow: auto;
        background-color: #f6eee3;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23f08080' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        box-shadow: 0 0 1.5rem 0.1rem rgba(black, 0.1) inset;

        .listing {
            display: block;
            box-shadow: $shadow;
            position: relative;
            padding: 5rem 0;
            background: white;

            &:before {
                content: '';
                position: absolute;
                z-index: 101;
                top: 0;
                bottom: 0;
                left: 8rem;
                width: 5px;
                border-left: 1px solid var(--highlight-color);
                border-right: 2px solid var(--highlight-color);
            }

            li {
                $line-border: 2px solid #ddd;
                background: white;
                box-shadow: none;
                border-bottom: $line-border;
                vertical-align: middle;

                &:first-child {
                    text-align: inherit;
                    border-top: $line-border;
                }

                a {
                    display: flex;
                    padding: 0.5rem 0;
                    color: $main-color;

                    & .title {
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin-bottom: 0;
                        padding: 0;
                        order: 2;
                        text-align: center;
                    }

                    & .date {
                        font-size: inherit;
                        border-top: none;
                        padding: 0 2rem 0 1.5rem;
                        margin: 0;
                        order: 1;
                    }

                    &:active,
                    &:focus,
                    &:hover {
                        color: var(--highlight-color);

                        & .title:after {
                            display: inline;
                            content: '\00ab';
                            font-size: 1.2rem;
                            color: var(--highlight-color);
                            padding-left: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    body.blog {
        .posts {
            margin-top: $main-top-wsp;
        }
    }
}



@media screen and (max-width:1100px) {
    body.blog {
        .posts {
            padding: $main-top-wsp*2 $main-top-wsp;
            $side-space: 4rem;

            .listing {

                &:before {
                    left: $side-space;
                }

                li {
                    a {
                        flex-wrap: wrap;

                        & .title {
                            width: 100%;
                            text-align: inherit;
                            padding: 0 1rem 0 $side-space+1rem;
                        }

                        & .date {
                            width: 100%;
                            padding: 0 1rem 0 $side-space+1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    body.blog {
        .posts {
            .listing {
                &:before {
                    display: none;
                }

                li {
                    a {
                        & .title {
                            padding: 0 1rem;
                        }

                        & .date {
                            padding: 0 1rem;
                        }
                    }
                }
            }
        }
    }
}