.text-conteiner {
    margin: 0 auto;
}

.about {
    .text-conteiner {
        padding: $main-top-wsp * 2 $main-top-wsp * 2 $main-top-wsp * 2 0;
    }
}

.events {
    .text-conteiner {
        padding: 0 $main-top-wsp*2;
    }
}


.media {
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}
