/*Styles for Regulas full width form*/
.form-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(white, 0.9);
    z-index:100;

    @at-root {
        .form-inner {
            width: 60%;
            margin: ($main-top-wsp*4) auto;
            display: flex;
            box-shadow: $shadow;

            .form-animation {
                flex: 1 0 50%;
            }

            form {
                flex: 1 0 50%;
            }
        }
    }
}

form {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 101;

    fieldset,
    legend {
        border: none;
        text-align: center;
    }

    legend {
        font-family: Georgia, Times, serif;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: $main-top-wsp;
    }

    p {
        padding: 0;
    }

    label {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: rgba(#333, 0.7);
        font-size: 0.9rem;
    }

    input {
        display: block;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        font-size:0.8rem;
        border: none;
        outline: none;
        background: rgba(#333, 0.1);
        border-bottom: $highlight-border;
    }
}

/*Styles for Register form*/
.form-wrapper.register {
    background: white;
    position: fixed;
    top: calc(100vh - 34rem);
    right: 1rem;
    bottom: 1.7rem;
    left: calc(100vw - 17rem);
    opacity: 0;
    pointer-events: none;

    .form-inner {
        width: 100%;
        position: relative;
        flex-direction: colum;
        margin: 0;

        .close-toggle {
            position: absolute;
            top: 0;
            right: 0.5rem;
            font-size: 1.5rem;
            color: var(--highlight-color);
            z-index: 1000;
        }

        form {
            margin: $main-top-wsp auto;
            flex: 1 0 100%;
        }
    }
}

#main-register-toggle {
    display: none;
}

#main-register-toggle + .register-toggle{
    position: fixed;
    top: calc(100vh - 5rem);
    right: 1rem;
}

#main-register-toggle:checked + .register-toggle {
    position: fixed;
    top: calc(100vh - 34rem);
    right: 2rem;
    z-index:1001;

    & span {
        display: none;
    }
    &:before {
        display: block;
        content: '\00d7';
        font-size:2rem;
        color: var(--highlight-color);
        background: white;
        animation: slideBottomOut 0.2s ease-in 1 both;
    }
}

#main-register-toggle:checked+.register-toggle+.form-wrapper.register {
    opacity: 1;
    animation: slideBottomOut 0.2s ease-in 1 both;
    pointer-events: all;
}

@media screen and (max-width:1200px){
    
    .form-wrapper.register {
        position: static;
        display: block;
        opacity: 1;
        pointer-events: all;
        overflow: hidden;
        box-shadow: $shadow;
    }
    body.gallery,
    body.events{
        .form-wrapper.register{
            grid-column: 1 / -1;
        }
    }
    .register-toggle {
        display: none;
    }
}