.form-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(white, 0.9);

    @at-root {
        .form-inner {
            width: 60%;
            margin: ($main-top-wsp*4) auto;
            display: flex;
            box-shadow: 0 0 0.5rem 0 rgba(black, 0.4);
            .form-animation {
                flex: 1 0 50%;
            }

            form {
                flex: 1 0 50%;
            }
        }
    }
}

form {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 101;

    fieldset,
    legend {
        border: none;
    }

    legend {
        font-family: Georgia, Times, serif;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: $main-top-wsp;
    }

    p {
        padding: 0;
    }

    label{
        text-transform: uppercase;
        font-weight: bold;
        color: rgba(#333, 0.7);
        font-size: 0.9rem;
    }

    input {
        display: block;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        background: rgba(#333, 0.1);
        border-bottom: 2px solid $highlight-color;
    }
}

#main-register-toggle {
    display: none;

    &:checked+.form-wrapper.register {
        display: none;
        opacity: 0;
        pointer-events: none;
    }
}

.form-wrapper.register {
    background:white;
    position: fixed;
    top: calc(100vh - 34rem);
    right:1rem;
    bottom:1rem;
    left: calc(100vw - 17rem);
    opacity: 1;
    pointer-events: all;
    animation: slideBottom 0.3s ease-in 1 both;

    .form-inner {
        width: 100%;
        position: relative;
        flex-direction: colum;
        margin: 0;
        .register-toggle.close {
            position: absolute;
            top: 0;
            right: 0.5rem;
            font-size: 1.5rem;
            color: $highlight-color;
            z-index: 1000;
        }

        form {
            margin: $main-top-wsp auto;
            flex:1 0 100%;
        }
    }
}