.form-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(white, 0.9);

    @at-root {
        .form-inner {
            width: 60%;
            margin: ($main-top-wsp*4) auto;
            display: flex;
            box-shadow: 0 0 0.5rem 0 rgba(black, 0.3);
            .form-animation {
                flex: 1 0 50%;
            }

            form {
                flex: 1 0 50%;
            }
        }
    }
}

form {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 101;

    fieldset,
    legend {
        border: none;
    }

    legend {
        font-family: Georgia, Times, serif;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: $main-top-wsp;
    }

    p {
        padding: 0;
    }

    label,
    input[type="submit"] {
        text-transform: uppercase;
        font-weight: bold;
        color: rgba(#333, 0.7);
        font-size: 0.9rem;
    }

    input {
        display: block;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        background: rgba(#333, 0.1);
        border-bottom: 2px solid $highlight-color;
    }

    input[type="submit"] {
        margin: 0 auto;
        margin-top: $main-top-wsp;
        padding: 0.5rem 2rem;
        background: $highlight-color;
        color: white;
        border: $highlight-border;
        border-radius: 3rem;
        transition: color 0.3s ease, background 0.6s ease;

        &:hover,
        &:active,
        &:focus {
            background: white;
            color: $highlight-color;
        }
    }
}

#main-register-toggle {
    display: none;

    &:checked+.form-wrapper.register {
        display: none;
    }
}

.form-wrapper.register {
    background:wheat;
    width: 16rem;
    position: fixed;
    top: 2rem;
    left: 70rem;
    

    .form-inner {
        width: 100%;
        position: relative;
        flex-direction: colum;
        margin: 1rem 0;

        .register-toggle.close {
            position: absolute;
            top: 0;
            right: 0.5rem;
            font-size: 1.5rem;
            color: $highlight-color;
            z-index: 1000;
        }

        form {
            margin: $main-top-wsp auto;
            flex:1 0 100%;
        }
    }
}