/*Styles for gallery page*/

body.gallery {
    .site {
        .site-content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-flow: row dense;
            gap: 1rem;

            h1 {
                grid-column: 1 / -1;
            }

            .media {
                position: relative;
                overflow: hidden;

                &:after {
                    display: block;
                    content: "";
                    padding-top: 100%;
                }

                & img {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(1);
                }

                &:hover img {
                    height: auto;
                    transition: height 0.1s ease-in;
                }
            }
        }

        .media:nth-child(even) {
            grid-row-end: span 2;
            grid-column-end: span 2;
        }
    }
}

@media screen and (max-width:812px) {
    body.gallery {
        .site {
            .site-content {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}