/*
/**Changing the main color depending on the gender **/

#gender-main-toggle-girl, #gender-main-toggle-boy{
    display: none;
}

#gender-main-toggle-girl:checked+.site {
    $highlight-color: #{$highlight-color-g};
    background: rgb(253, 216, 230);
}

#gender-main-toggle-boy:checked+#gender-main-toggle-girl+.site {
    $highlight-color: #{$highlight-color-b};
    background: lightblue;
}


.site {
    padding: 0 $main-side-wsp;

    @at-root .site-content {
        text-align: center;
        padding: $main-top-wsp 0;

        h1,
        h2 {
            animation: slideLeft 0.8s ease 1 both;
        }
    }
}

@media screen and (max-width:760px) {
    .site {
        padding: 0 2rem;
    }
}

body.home{
    .site-content{
        padding: 0 1rem;
        p{
            text-align: justify;
        }
    }
}