.main-nav {
    position: fixed;
    top: 50%;
    left: 1rem;

    & ul {
        padding: 0;
        transform: translateY(-50%);
    }

    & ul li {
        list-style: none;
        width: $main-side-wsp - 1rem;
        display: block;
        animation: slideLeft 1s ease-out 1 both;

        & a {
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }

        & .fas,
        & .fab,
        & .far {
        
        }

        & .fas:before,
        & .fab:before,
        & .far:before {
            $nav-icon-size:2rem;
            width: ($main-side-wsp - 2rem )/2;
            padding:1rem $nav-icon-size/4;
            vertical-align: middle;
            margin-right: 0.5rem;
            font-size: $nav-icon-size;
            color: $highlight-color;
            border-bottom: 2px solid $highlight-color;
            border-left: 2px solid $highlight-color;
            border-right: 2px solid $highlight-color;
        }

        & .fas:hover:before,
        & .fab:hover:before,
        & .far:hover:before{
            color:white;
            background: $highlight-color;
            transition: color 0.3s ease, background 0.6s ease;
        }

        & a:nth-child(2){
            opacity: 0;
            pointer-events: none;
            
        }
        & .fas:hover + a,
        & .fab:hover + a,
        & .far:hover + a {
            opacity: 1;
            pointer-events: all;
            animation: slideLeft 1s ease-out 1 both;
        }

        &:nth-child(1) .fab:before {
            border-top: 2px solid $highlight-color;
        }

    }
}

@media screen and (max-width:760px){
    .main-nav {
        min-width:70%;
        position:relative;
        top: $main-top-wsp*2;
        left:0;
        margin: 0 auto;
        & ul {
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
        }

        & ul li{
            width: ($main-side-wsp - 2rem )/2;
            text-align: center;
        }

        & .fas:before,
        & .fab:before,
        & .far:before{
            border: 2px solid $highlight-color;
            margin-right: 0;
        }
    }
}