.main-nav {
    position: fixed;
    top: 50%;
    left: 1rem;
    z-index: 102;

    & ul {
        padding: 0;
        transform: translateY(-50%);
    }

    & ul li {
        list-style: none;
        display: block;
        animation: slideLeft 0.6s ease-out 1 both;

        & a {
            text-decoration: none;
            text-align: center;
        }

        & span {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }

        & .fas,
        & .fab,
        & .far {}

        & .fas:before,
        & .fab:before,
        & .far:before {
            $nav-icon-size: 2rem;
            width: ($main-side-wsp - 2rem)/2;
            padding: 1rem $nav-icon-size/4;
            vertical-align: middle;
            margin-right: 0.5rem;
            font-size: $nav-icon-size;
            color: var(--highlight-color);
            background: white;
            border-bottom: $highlight-border;
            border-left: $highlight-border;
            border-right: $highlight-border;
        }

        & .fas:focus:before,
        & .fab:focus:before,
        & .far:focus:before,
        & .fas:hover:before,
        & .fab:hover:before,
        & .far:hover:before {
            color: white;
            background: var(--highlight-color);
            transition: color var(--main-animation), background var(--main-animation);
        }

        & span {
            opacity: 0;
            pointer-events: none;

        }

        & .fas:focus+span,
        & .fab:focus+span,
        & .far:focus+span,
        & .fas:hover+span,
        & .fab:hover+span,
        & .far:hover+span {
            opacity: 1;
            pointer-events: all;
            animation: slideLeft 1s ease-out 1 both;
        }

        &:nth-child(1) .fab:before {
            border-top: $highlight-border;
        }

    }
}

@media screen and (max-width:760px) {
    .main-nav {
        min-width: 75%;
        position: relative;
        top: $main-top-wsp*2;
        left: 0;
        margin: 0 auto;

        & ul {
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
        }

        & ul li {
            width: ($main-side-wsp - 2rem)/2;
            text-align: center;

            & span {
                opacity: 1;
            }
        }

        & .fas:before,
        & .fab:before,
        & .far:before {
            border: $highlight-border;
            margin-right: 0;
        }
    }

    body.login {
        .main-nav {
            top: $main-top-wsp;
        }

        .site-branding  {
            display: none;
        }
    }
}

@media screen and (max-width:375px){
    .main-nav {
        min-width: 50%;
        & ul li span {
           font-size: 0.9rem;
        }
    }
}