/* Styles for the header*/

.site-header {
    padding-top: $main-top-wsp;
}

.site-branding {
    position: relative;
    text-align: center;

    p {
        padding: 0;
    }

    a {
        text-decoration: none;
        color: var(--highlight-color);
    }

    @at-root {
        & .site-title {
            font-size: 1.999em;
            font-family: Georgia, serif; //'Righteous'
            font-weight: bold;
        }

        & .site-desc {}

        & .site-gender {
            position: absolute;
            bottom: 0;
            right: 0;

            @at-root {
                .gender-toggle {
                    cursor: pointer;

                    span {
                        color: var(--highlight-color);

                        &.boy {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/*
/**Changing the main color depending on the gender **/
#baby-name{
    &:after{
        display: inline;
        content: "Lilly";
    }
}
#gender-main-toggle {
    display: none;
}

#gender-main-toggle:checked+.site {
    --highlight-red:0;
    --highlight-green:142;
    --highlight-blue:204;
    --highlight-color:rgb(var(--highlight-red),var(--highlight-green),var(--highlight-blue));
    #baby-name{
        &:after{
            content: "Robin";
        }
    }

    span.girl {
        display: none;
    }

    span.boy {
        display: inherit;
    }

    .listing li {
        background-color: #ececfb;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%237285a5' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        &:active,
        &:focus,
        &:hover {
            background: var(--highlight-color);
            transition: background var(--main-animation);}
    }
}
#gender-main-toggle:checked+.site.blog{
    .posts {
        background-color: #ececfb;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%237285a5' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
       
        .listing{
            background: white;
            li{
                background: white;
            }
        }
    }
}

@media screen and (max-width:812px) {
    .site-branding {
        & .site-gender {
            bottom: 100%;
            transform: translateY(50%);
        }
    }
}