
/* Styles for the header*/

.site-header {
    padding-top: $main-top-wsp;
}

.site-branding {
    position: relative;
    text-align: center;

    p {
        padding: 0;
    }

    a {
        text-decoration: none;
        color:var(--highlight-color);
    }

    @at-root {
        & .site-title {
            font-size: 1.999em;
            font-family: Georgia, serif; //'Righteous'
            font-weight: bold;
        }

        & .site-desc{

        }

        & .site-gender {
            position: absolute;
            bottom: 0;
            right: 0;

            @at-root {
                .gender-toggle{
                    cursor: pointer;
                    span.girl {
                        display: none;
                        color: coral;
                    }
                    span.boy {
                        color:  #7285a5;
                    }
                    // &.boy{
                    //     color:#89cff0;
                    // }
                    // &.girl{
                    //     color:coral;
                    // }
                }
            }
        }
    }
}

/*
/**Changing the main color depending on the gender **/

// #gender-main-toggle-boy, 
#gender-main-toggle{
    display: none;
}

#gender-main-toggle:checked+.site {
    --highlight-color: #7285a5;
    span.girl {
        display: inherit;
    }
    span.boy {
        display: none;
    }
}

// #gender-main-toggle-boy:checked+#gender-main-toggle-girl+.site {
//     --highlight-color: #89cff0;
// }

@media screen and (max-width:812px) {
    .site-branding {
       & .site-gender {
        bottom: 100%;
        transform: translateY(50%);
    }
    }
}

