html {
    font: var(--font-size-initial, 12px)/1.5  "Segoe UI", sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media screen and (min-width:500px){
    html{ font-size: var(--font-size-lv2,14px);}
}

@media screen and (min-width:700px){
    html{ font-size: var(--font-size-lv3,16px);}
}

@media screen and (min-width:1600px){
    html{ font-size: var(--font-size-lv4,18px);}
}

body, table, th, td, form, input, textarea, option, select {
    font: inherit;
    color:$main-color;
    color:$main-color;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    padding-bottom: 0.5em;
}

$headings: (h1:3.998em,h2:2.827em,h3:1.999em,h4:1.414em,h5:1em,h6:1em);

@each $heading, $size in $headings {
    #{$heading}{font-size:$size}
}
h1{
    font-family:  Georgia, serif; //'Righteous'
}
h6 { font-weight: bold;}
p, ul, ol{
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2em;
}
li {
    list-style-position: inside;
}