:root {
    --font-size-initia: 12px;
    --font-size-lv2: 14px;
    --font-size-lv3: 16px;
    --font-size-lv4: 18px;
}

$highlight-color-b:rgb(80, 127, 255);
$highlight-color-g:coral;
$highlight-color:$highlight-color-g;
$highlight-border:2px solid $highlight-color;
$main-color:#333;
$main-top-wsp:2rem;
$main-side-wsp:10rem;