:root {
    --font-size-initia: 12px;
    --font-size-lv2: 14px;
    --font-size-lv3: 16px;
    --font-size-lv4: 18px;
}

$shadow:0 0 0.5rem 0 rgba(black, 0.3);
$highlight-color-b:rgb(80, 127, 255);
$highlight-color-g:coral;
$highlight-color:$highlight-color-g;
$highlight-border:2px solid $highlight-color;
$opegue:1;
$main-color:#333;
$main-top-wsp:2rem;
$main-side-wsp:10rem;

/*
/**Changing the main color depending on the gender **/

#gender-main-toggle-girl,
#gender-main-toggle-boy {
    display: none;
}

#gender-main-toggle-girl:checked+.site {
    $highlight-color: $highlight-color-g;
    background: rgba(lightsalmon, 0.2);
}

#gender-main-toggle-boy:checked+#gender-main-toggle-girl+.site {
    $highlight-color: $highlight-color-b;
    background: rgba(lightblue, 0.4);
}