
<input type="checkbox" name="main-register-toggle" id="main-register-toggle">
<label for="main-register-toggle" class="register-toggle"><span class="button">Register</span></label>
<div class="form-wrapper register">
    <div class="form-inner">
        <form action="#">
            <fieldset>
                <legend>Register</legend>
                <p class="field">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                </p>

                <p class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </p>

                <p class="field">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </p>
                <p class="field">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" id="confirm-password">
                </p>
                <input type="submit" value="Register" class="button">
            </fieldset>
        </form>
    </div>
</div>